.node-red/flows.json
[{"id":"91b41af1.086958","type":"tab","label":"Telegram handler","disabled":false,"info":""},{"id":"d46f5ed.c799ba","type":"tab","label":"Data getter / UI","disabled":false,"info":""},{"id":"806eac39.8654e","type":"telegram bot","z":"","botname":"tobs_iot_exam_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e01b29b5.567a48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fb1fad3.951494","type":"ui_group","z":"","name":"Data","tab":"e01b29b5.567a48","order":1,"disp":false,"width":9,"collapse":false},{"id":"a13012eb.cad1b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"28b8d63.e42ad2a","type":"telegram command","z":"91b41af1.086958","name":"","command":"/start","bot":"806eac39.8654e","strict":false,"hasresponse":true,"x":110,"y":440,"wires":[["a8e75114.84724"],[]]},{"id":"a8e75114.84724","type":"template","z":"91b41af1.086958","name":"start message","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bienvenido al bot de Telegram para el exámen de IOT de TOBS. Estos son nuestros comandos:\n\n/help Devuelve este mismo mensaje.\n/get Obtiene el precio de Bitcoin en Pesos Argentinos.","output":"str","x":340,"y":480,"wires":[["9b47fa68.1fd4d8"]]},{"id":"9b47fa68.1fd4d8","type":"telegram sender","z":"91b41af1.086958","name":"","bot":"806eac39.8654e","x":630,"y":480,"wires":[["24ed5802.f2c288"]]},{"id":"24ed5802.f2c288","type":"template","z":"91b41af1.086958","name":"debug","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mensaje enviado:\n\n{{payload.content.text}}","output":"str","x":800,"y":480,"wires":[["da0d22e7.7b4d1"]]},{"id":"da0d22e7.7b4d1","type":"debug","z":"91b41af1.086958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"f15f776c.4ed3c8","type":"telegram command","z":"91b41af1.086958","name":"","command":"/help","bot":"806eac39.8654e","strict":false,"hasresponse":true,"x":110,"y":500,"wires":[["a8e75114.84724"],[]]},{"id":"ae9149cd.cee0e8","type":"telegram command","z":"91b41af1.086958","name":"","command":"/get","bot":"806eac39.8654e","strict":false,"hasresponse":true,"x":110,"y":340,"wires":[["9c398514.2c2638"],[]]},{"id":"dca1fb5a.62b348","type":"http request","z":"d46f5ed.c799ba","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://currency-exchange.p.rapidapi.com/exchange","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":240,"wires":[["5109cb13.b54764"]]},{"id":"9511633d.d7bf9","type":"function","z":"d46f5ed.c799ba","name":"generate query","func":"msg.payload = {\n\t\"q\": \"1.0\",\n\t\"from\": \"BTC\",\n\t\"to\": \"ARS\"\n};\n\nmsg.headers = {\n    \"x-rapidapi-host\": \"currency-exchange.p.rapidapi.com\",\n\t\"x-rapidapi-key\": \"8974ec3407msha3b6568bfd6a6b7p1609bejsnef5ad575686d\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["dca1fb5a.62b348"]]},{"id":"33f26709.27f308","type":"inject","z":"d46f5ed.c799ba","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["9511633d.d7bf9","fac47881.35cc98"]]},{"id":"5109cb13.b54764","type":"function","z":"d46f5ed.c799ba","name":"store price","func":"var price = msg.payload;\nglobal.set('price', price);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":240,"wires":[["58661432.4346cc","4d34d57e.aa2dfc","608471de.6cb75"]]},{"id":"fac47881.35cc98","type":"function","z":"d46f5ed.c799ba","name":"store timestamp","func":"var timestamp = msg.payload;\nglobal.set('timestamp', timestamp);\nmsg.payload = (new Date(timestamp)).toLocaleString('es-419', {timeZone: 'America/Buenos_Aires'});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["c47936ca.c79088","ed615e8e.25a1f"]]},{"id":"59a8dce8.b84604","type":"debug","z":"d46f5ed.c799ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":160,"wires":[]},{"id":"58661432.4346cc","type":"template","z":"d46f5ed.c799ba","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stored price ${{payload}}","output":"str","x":880,"y":160,"wires":[["59a8dce8.b84604"]]},{"id":"9c398514.2c2638","type":"function","z":"91b41af1.086958","name":"","func":"var template = 'Precio BTC en ARS: desconocido';\nvar price = global.get('price');\nvar timestamp = global.get('timestamp');\nif(price && timestamp){\n    var timestampStr = (new Date(timestamp)).toLocaleString('es-419', {timeZone: 'America/Buenos_Aires'});\n    msg.payload.content = 'Precio BTC en ARS: $' + price + '\\n\\nÚltima comprobación: ' + timestampStr;\n} else {\n    msg.payload.content = template;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":380,"wires":[["9b47fa68.1fd4d8"]]},{"id":"1ca5e3b2.821bcc","type":"debug","z":"d46f5ed.c799ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"c47936ca.c79088","type":"template","z":"d46f5ed.c799ba","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stored time ${{payload}}","output":"str","x":520,"y":100,"wires":[["1ca5e3b2.821bcc"]]},{"id":"4d34d57e.aa2dfc","type":"ui_chart","z":"d46f5ed.c799ba","name":"price graph","group":"7fb1fad3.951494","order":1,"width":0,"height":0,"label":"Precio","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No hay datos","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":240,"wires":[[]]},{"id":"608471de.6cb75","type":"ui_text","z":"d46f5ed.c799ba","group":"7fb1fad3.951494","order":2,"width":0,"height":0,"name":"actual price","label":"Precio Actual","format":"${{msg.payload}}","layout":"col-center","x":1050,"y":320,"wires":[]},{"id":"c049f0ac.55177","type":"ui_button","z":"d46f5ed.c799ba","name":"refresh","group":"7fb1fad3.951494","order":3,"width":0,"height":0,"passthru":false,"label":"Actualizar precio","tooltip":"refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":240,"wires":[["fac47881.35cc98","9511633d.d7bf9"]]},{"id":"ed615e8e.25a1f","type":"ui_text","z":"d46f5ed.c799ba","group":"7fb1fad3.951494","order":4,"width":0,"height":0,"name":"timestamp","label":"Última actualización","format":"{{msg.payload}}","layout":"row-center","x":530,"y":60,"wires":[]}]