.node-red/flows.json
[{"id":"91b41af1.086958","type":"tab","label":"Telegram handler","disabled":false,"info":""},{"id":"d46f5ed.c799ba","type":"tab","label":"Data getter","disabled":false,"info":""},{"id":"806eac39.8654e","type":"telegram bot","z":"","botname":"tobs_iot_exam_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"28b8d63.e42ad2a","type":"telegram command","z":"91b41af1.086958","name":"","command":"/start","bot":"806eac39.8654e","strict":false,"hasresponse":true,"x":110,"y":440,"wires":[["a8e75114.84724"],[]]},{"id":"a8e75114.84724","type":"template","z":"91b41af1.086958","name":"start message","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bienvenido al bot de Telegram para el exámen de IOT de TOBS. Estos son nuestros comandos:\n\n/help Devuelve este mismo mensaje.\n/get Obtiene el precio de Bitcoin en Pesos Argentinos.","output":"str","x":340,"y":480,"wires":[["9b47fa68.1fd4d8"]]},{"id":"9b47fa68.1fd4d8","type":"telegram sender","z":"91b41af1.086958","name":"","bot":"806eac39.8654e","x":630,"y":480,"wires":[["24ed5802.f2c288"]]},{"id":"24ed5802.f2c288","type":"template","z":"91b41af1.086958","name":"debug","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mensaje enviado:\n\n{{payload.content.text}}","output":"str","x":800,"y":480,"wires":[["da0d22e7.7b4d1"]]},{"id":"da0d22e7.7b4d1","type":"debug","z":"91b41af1.086958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"f15f776c.4ed3c8","type":"telegram command","z":"91b41af1.086958","name":"","command":"/help","bot":"806eac39.8654e","strict":false,"hasresponse":true,"x":110,"y":500,"wires":[["a8e75114.84724"],[]]},{"id":"ae9149cd.cee0e8","type":"telegram command","z":"91b41af1.086958","name":"","command":"/get","bot":"806eac39.8654e","strict":false,"hasresponse":true,"x":110,"y":340,"wires":[["9c398514.2c2638"],[]]},{"id":"dca1fb5a.62b348","type":"http request","z":"d46f5ed.c799ba","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://currency-exchange.p.rapidapi.com/exchange","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":160,"wires":[["5109cb13.b54764"]]},{"id":"9511633d.d7bf9","type":"function","z":"d46f5ed.c799ba","name":"generate query","func":"msg.payload = {\n\t\"q\": \"1.0\",\n\t\"from\": \"BTC\",\n\t\"to\": \"ARS\"\n};\n\nmsg.headers = {\n    \"x-rapidapi-host\": \"currency-exchange.p.rapidapi.com\",\n\t\"x-rapidapi-key\": \"8974ec3407msha3b6568bfd6a6b7p1609bejsnef5ad575686d\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":160,"wires":[["dca1fb5a.62b348"]]},{"id":"33f26709.27f308","type":"inject","z":"d46f5ed.c799ba","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["9511633d.d7bf9","fac47881.35cc98"]]},{"id":"5109cb13.b54764","type":"function","z":"d46f5ed.c799ba","name":"store price","func":"var price = msg.payload;\nglobal.set('price', price);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[["58661432.4346cc"]]},{"id":"fac47881.35cc98","type":"function","z":"d46f5ed.c799ba","name":"store timestamp","func":"var timestamp = msg.payload;\nglobal.set('timestamp', timestamp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[[]]},{"id":"59a8dce8.b84604","type":"debug","z":"d46f5ed.c799ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":160,"wires":[]},{"id":"58661432.4346cc","type":"template","z":"d46f5ed.c799ba","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stored price ${{payload}}","output":"str","x":860,"y":160,"wires":[["59a8dce8.b84604"]]},{"id":"9c398514.2c2638","type":"function","z":"91b41af1.086958","name":"","func":"var template = 'Precio BTC en ARS: desconocido';\nvar price = global.get('price');\nvar timestamp = global.get('timestamp');\nif(price && timestamp){\n    var timestampStr = (new Date(timestamp)).toLocaleString('es-AR');\n    msg.payload.content = 'Precio BTC en ARS: $' + price + '\\n\\nÚltima comprobación: ' + timestampStr;\n} else {\n    msg.payload.content = template;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":380,"wires":[["9b47fa68.1fd4d8"]]}]